/*Common css*/

body {
    margin: 0;
    font-family: basic-sans, sans-serif;
}

#home {
    background: url("../images/bgimg.jpeg") no-repeat center top;
    background-size: cover;
    height: 100vh;
}

h1 {
    margin-top: 50px;
    text-align: center;
    color: #0A3641;
}

#h1home {
    opacity: 0;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #DCE2E3;
    max-height: 110px;
}

.header-top img {
    display: flex;
    max-height: 90px;
    margin-top: auto;
    margin-bottom: 5px;
}

.searchbar {
    max-width: 500px;
    margin-top: 3vh;
    margin-bottom: auto;
    margin-right: 50px;
}

.search-icon i {
    position: absolute;
}

.search-icon {
    width: 100%;
    margin-bottom: 10px;
}

.header-icons {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
}

.header-icons .mobile {
    display: none;
}

.icon {
    padding: 10px;
    color: #410A20;
    min-width: 20px;
    text-align: center;
}

.searchbar-form {
    width: 46vh;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #410A20;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #0A3641;
    font-size: 18px;
    max-height: 50px;
    min-height: 40px;
}

.navbar .mobile {
    display: none;
}

.navlinks {
    display: flex;
    list-style-type: none;
    gap: 60px;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-i a {
    display: inline-block;
    padding: 5px;
    color: white;
    text-decoration: none;
} 

/*Front page*/

.logo-wt {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-width: 100vh;
    align-items: flex-end;
}

.logo-wt img {
    position: fixed;
    bottom: 100px;
    width: 25%;
}

/*Products page*/

#products {
    background: url("../images/bgimg_blur.png") no-repeat center top;
    background-size: cover;
    min-height: 100vh;
}

.prodcontent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    gap: 20px;
    flex: 1;
}

.prodcontent h2 {
    background-color: #fcfdfc;
    font-size: large;
    margin-bottom: 0;
}

.prodbox a {
    text-decoration: none;
    color: #0A3641;
}

.prodbox img {
    width: 275px;
}

/*Jacket page*/
.jacketcontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 90%;
    margin: 75px auto;
}

.jacketbtns {
    text-align: center;
    order: 2;
    margin-left: 75px;
}

.greenbutton {
    padding: 12px 20px;
    width: 143px;
    color: white;
    background-color: #0A3641;
    margin-left: 10px;
    border: none;
}

.addtocart {
    width: 300px;
    margin-top: 10px;
}

.jacketimg {
    width: 300px;
    order: 1;
}
.line {
    order: 3;
}
.jackettxt {
    width: 300px;
    order: 4;
}

@media only screen and (max-width: 1200px) {
    
    .searchbar {
        display: none;
    }

    .header-icons .mobile {
        display: block
    }

    .logo-wt img {
        width: 30%;
        min-width: 300px;
    }

    .prodcontent {
        flex-wrap: wrap;
    }

    .prodcontent h2 {
        width: 300px;
        margin-left: 50px;
    }

    .prodbox img {
        width: 300px;
        margin: 0px 50px;
    }

    .jacketcontent {
        max-width: 90%;
    }
    .jacketbtns {
        padding: 0 100px;
        order: 3
    }

    .jackettxt {
        order: 2;
    }

    .line {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    
    .logo-wt img {
        width: 50%;
        min-width: 200px;
    }

    .navbar .mobile {
        display: flex;
        align-items: center;
        color: white;
    }

    .navlinks {
        display: none;
    }

    .header-top img {
        max-width: 80%;
        min-width: 100px;
        margin-left: 10px;
    }

    .prodcontent h2 {
        width: 200px;
        margin-left: 20px;
    }

    .prodbox img {
        width: 200px;
        margin: 0px 20px;
    }

    .jacketcontent {
        max-width: 100%;
        margin: 0;
    }

    .jacketbtns {
        padding: 0;
        order: 2;
        margin: 20px 100px;
    }

    .jackettxt {
        order: 3
    }

}